<nav class="flex items-center justify-between flex-wrap py-4 lg:py-4  mx-auto">
    <div class="text-xs">&copy; 1924 - {{ now format="Y" }}  Made with <span class="text-red-600">❤</span> by <a href="#" class="hover:text-blue-200">1571</a></div>
    <div class="flex items-center">
       <!-- {{ settings:social }}
            <a href="{{ url }}" class="ml-4" aria-label="{{ name }}" rel="noopener">
                {{ svg :src="icon" class="h-6 w-6 hover:text-teal" }}
            </a>
        {{ /settings:social }}!-->
    </div>
</nav>
