<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ settings:site_name }} | {{ title }} </title>
        <meta name="description" content="{{ excerpt ?? title }}">
        <meta name="theme-color" content="00908F">
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="bg-white dark:bg-gray-900 font-sans leading-normal text-grey-800 dark:text-gray-400 px-4 sm:px-10" x-data="{ showMobileNav: false }">
        {{ partial:nav }}

        {{ blocks }}
        {{ partial src="sets/{type}/{version}" }}
        {{ /blocks }}

        {{ partial:footer }}
    </body>
</html>
