<div class="max-w-5xl mx-auto relative mt-4 mb-6">
    <article class="pt-12 pb-4 max-w-5xl mx-auto">
        <header class="text-gray-50 text-md mb-8">
            <h1 class="text-5xl">The <span class='text-yellow-500 underline'>Epsilonian</span></h1>
        </header>
    <section class="bg-gray-700 p-4 rounded-2xl">
            {{ collection:articles as="articles" paginate="10" }}
            {{ if no_results }}
                <h2 class="text-3xl italic tracking-tight">Check back for updates from Epsilon Chapter.</h2>
            {{ /if }}
        <div class="article-list">
            {{articles}}
                <div class="article-item">
                    <a href="{{ url }}" class="article-link">
                        <div class="title-and-date">
                            <span class="article-title max-w-72 lg:max-w-full">{{ title | widont }}</span>
                            <span class="date-badge">{{ date format="F Y" }}</span>
                        </div>
                        <p class="article-excerpt">{{ excerpt }}</p>
                    </a>
                </div>
            {{/articles}}
        </div>
            {{ paginate }}
                {{ if prev_page || next_page }}
                    <div class="flex justify-between text-xl -mx-16 pt-16 font-bold">
                        <a href="{{ prev_page }}" class="{{ ! prev_page ?= 'opacity-25' }}">
                            &larr; Back to the future
                        </a>
                        <a href="{{ next_page }}">a
                            Forward to the past &rarr;
                        </a>
                    </div>
                {{ /if }}
            {{ /paginate }}
        {{ /collection:articles }}
    </section>
    </article>
</div>
{{ partial:forms/subscribe }}
