{{form:actives}}
    {{ if success }}
        <div class="my-10 bg-green-200/40 max-w-5xl mx-auto text-white px-4 py-10 rounded-md shadow-md text-center">
            {{ success }}
        </div>
        <div onclick="window.location.href='/'" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 bg-yellow-400 rounded-lg dark:border-gray-700 dark:hover:bg-yellow-600 dark:focus:ring-gray-800" style="cursor: pointer;">git Home</div>
    {{ else }}
        {{ if errors }}
            <div class="bg-red-600 text-white p-4 rounded-md shadow-sm mb-4">
                <ul>
                    {{ errors }}
                    <li>{{ value }}</li>
                    {{ /errors }}
                </ul>
            </div>
        {{ /if }}
        <div class="space-y-4 bg-gray-50">
            <section class="bg-white dark:bg-gray-900">
                <div class="pb-16 px-4 mx-auto max-w-screen-md">

                    <div class="form-field">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-input">
                    </div>

                    <div class="form-field">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" class="form-input">
                    </div>

                    <div class="form-field">
                        <label for="phoneNumber">Phone Number</label>
                        <input type="tel" name="phoneNumber" id="phoneNumber" class="form-input">
                    </div>
                    <div class="form-field">
                        <label for="membership">Are you an Active, Alumnus or Potential new member?</label>
                        <select name="membership" id="membership" required>
                            <option value="">Membership Level?</option>
                            <option value="active">Active</option>
                            <option value="alumnus">Alumnus</option>
                            <option value="potential">Potential</option>
                        </select>
                        <div id="conditionalField" style="display: none;" class="py-3">
                            <label for="activeNumber">Active Number:</label>
                            <input type="text" name="activeNumber" id="activeNumber">
                        </div>
                    </div>
                    <button type="submit" class="w-full bg-yellow-400 hover:bg-yellow-600 text-gray-900 font-semibold mt-3 py-3 px-4 rounded-md focus:outline-none">
                        Submit
                    </button>
                </div>
            </section>
            {{ if error }}
                <p class="mt-2 text-sm text-red-600">{{ error }}</p>
            {{ /if }}
        </div>
        <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">
    {{ /if }}
{{/form:actives }}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const membershipSelect = document.getElementById('membership');
        const conditionalField = document.getElementById('conditionalField');

        membershipSelect.addEventListener('change', function () {
            const value = this.value;
            if (value === 'active' || value === 'alumnus') {
                conditionalField.style.display = 'block';
            } else {
                conditionalField.style.display = 'none';
            }
        });
    });
</script>