<div class="max-w-5xl mx-auto relative mt-4">
    <article class="py-12 max-w-2xl mx-auto">
        <header class="-text-gray-20 text-md mb-16">
            <h1>The <span class=text-blue-200>Epsilonian</span></h1>
        </header>

        {{ collection:articles as="articles" paginate="10" }}
        {{ if no_results }}
        <h2 class="text-3xl italic tracking-tight">Check back for updates from Epsilon Chapter.</h2>
        {{ /if }}

        {{ articles }}
        <div class="mb-2">
            <a href="{{ url }}" class="py-6 text-lg hover:text-blue-300 tracking-tight leading-tight font-bold">
                {{ title | widont }}
            </a>
        </div>
        {{ /articles }}

        {{ paginate }}
        {{ if prev_page || next_page }}
        <div class="flex justify-between text-xl -mx-16 pt-16 font-bold">
            <a href="{{ prev_page }}" class="{{ ! prev_page ?= 'opacity-25' }}">
                &larr; Back to the future
            </a>
            <a href="{{ next_page }}">a
                Forward to the past &rarr;
            </a>
        </div>
        {{ /if }}
        {{ /paginate }}
        {{ /collection:articles }}
    </article>
</div>
