<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ settings:site_name }} | {{ title }} </title>
    <meta name="description" content="{{ excerpt ?? title }}">
    <meta name="theme-color" content="00908F">
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
    <link rel="icon" href="./assets/Shield-RGB.png" type="image/x-icon">

</head>
{{ partial:nav }}

<body class="bg-white dark:bg-gray-900 font-sans leading-normal text-grey-800 dark:text-gray-300 px-4 sm:px-10" x-data="{ showMobileNav: false }">

<div class="max-w-5xl mx-auto relative ">
    <article class="lg:py-12 max-w-3xl mx-auto">
        <h1>{{ title }}</h1>
        <div class="bg-gray-800 inline-block text-sm mb-16 pr-4 pl-16 -ml-16 uppercase tracking-widest text-white py-1 rounded-r-full">
            Published
            {{ if topics }}
                in {{ topics }}<a href="{{ url }}" class="text-teal-light no-underline hover:text-white">{{ title }}</a>{{ unless last }}, {{ /unless }}{{ /topics }}
            {{ /if }}
            on {{ date format="M j, Y" }}
        </div>
        <div class="content">

            {{ blocks }}
            {{ partial src="sets/{type}/{version}" }}
            {{ /blocks }}
        </div>
    </article>
</div>
{{ partial:footer }}
</body>